<div class="hero-unit">
	<h1>Couponific</h1>
	<p>Save a tree and your money. Create and Send a coupon to your loved ones.</p>
	<a href="#" class="btn btn-primary btn-large">Create and Send a Coupon</a>
		<a href="#" class="btn btn-info btn-large">See some Examples</a>
</div>
